.component{
    justify-content: center;
    margin: 0 0 0 3rem;
    width: auto;
    margin-right: auto;
    
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    margin: .5rem 0 1rem 0;
    text-align: center;
    text-shadow: 1px 2px 3px #808080;
}


img{
    width: 200px;
    height: auto;
}

.inputCon{
    margin: .5rem 0;
}

.form-label{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    text-shadow: 1px 2px 3px #808080;
    font-size: 20px;
}

input, select{
    padding: .5rem;
    width: 100%;
    max-width: 150px;
    font-size: 20px;
    box-sizing: content-box;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 8px 8px 8px;
}

input:focus {
    outline: #336699 auto 1px;
}

.btnCon{
    margin-top: 1rem;
    margin-bottom: .5rem;
    display: flex;
    justify-content: center;
}

button {
    background-color: #eee;
    padding: .4rem 1.5rem;
    border-radius: 4px;
    font-size: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 8px 8px 8px;
}

button:hover {
    background-color: #cfd8dc;
}